<div class="nope">
    <label>
        Adventure Id
        <input type='text' id="tac-export-adventure-id"/>
    </label>
    <br/>
    <br/>
    <button type="button" id="import-adventure-start" disabled>Import Adventure</button>
</div>


