<div class="nope">
    <label>
        Adventure Data
        <input type='text' id="tac-export-adventure"/>
    </label>
    <br/>
    <br/>
    <button type="button" id="import-adventure-start" disabled>Import Adventure</button>
</div>


